<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ultrasoc.core.launching.Launch">
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.AGENT_CONTROL_FEATURES" value="HWLOCK"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.AGENT_PRO_SERVICE_FEATURES" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.AGENT_SERVICE_FEATURES" value="MONSTORE,PTRACE,JTAGPROXY"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.AGENT_TRACE_FEATURES" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_CONN_UTIL_BINARY" value="${eclipse_home}/../fpServer/bin/ultrasoc-flashpro"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_CONN_UTIL_CFG" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_CONN_UTIL_FREQ" value="6000"/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_CONN_UTIL_LAUNCH" value="true"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_CTF_PORT" value="9000"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_JTM_MODULE" value="jtm1"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_JTM_PORT" value="54322"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_MSG_PROXY_PORT" value="none"/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_MSG_PROXY_START" value="true"/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_AUTOPORT" value="true"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_BINARY" value="${eclipse_home}/../ultrasoc/udagent"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_COMMXML" value="${eclipse_home}/../ultrasoc/share/libmsg/communicators.xml"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_HOST" value="localhost"/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_LOCAL" value="true"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_MAPXML" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_MSGXML" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_PORT" value="2222"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_REGXML" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_SYSXML" value="${eclipse_home}/../ultrasoc/share/libmsg/system-microchip-mpfs.xml"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_SYS_INDEX_WIDTH" value="0"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SERVER_TPSYSXML" value=""/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SMGR_AUTOPORT" value="true"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_SMGR_PORT" value="auto"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_TIME_PERIOD" value="0x80000000"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_TRACEALYZER_BINARY" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_TRACEALYZER_COMMAND_PORT" value="11111"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_TRACEALYZER_EXTRA_OPTIONS" value=""/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_TRACEALYZER_LAUNCH" value="false"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_VIRTUAL_PROTOTYPE_BINARY" value=""/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.ATTR_VIRTUAL_PROTOTYPE_LAUNCH" value="false"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.COMMUNICATOR" value="jtagprobe-link,connect,,9876"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.DISCOVERY" value="parallel-rediscover"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.FEATURE" value="MSTORE,MSTREAM,MONSTORE,PTRACE,VC,DDMA,STUBS,JTAGPROXY"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.INSTRUMENTATION_FILE" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.LINK_LOG" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ROUTE" value="0"/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.RTRACE_TRACEFILE" value=""/>
    <stringAttribute key="com.ultrasoc.core.launching.IServerConstants.ULTRADEBUG_VERSION" value="1"/>
    <booleanAttribute key="com.ultrasoc.core.launching.IServerConstants.UNIQUE_TRACEFILES" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="UST_SW_LINK_DEFAULT_MODE" value="listen"/>
        <mapEntry key="UST_SW_LINK_DEFAULT_PORT" value="9876"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
    </listAttribute>
</launchConfiguration>
